
body {
    background-image: url(./img/6209665.jpg) ;
    background-size: cover;
    /* background-color: #ffe5a9; */
    font-family: 'Roboto Condensed', sans-serif;
 

}
.avatar{
  width: 30px;
}
h1{
  color: #fff;
}
h3{
  font-size: 45px !important;

  color:#fff;
}
p{
  font: 25px sans-serif ;
  color: #fff;
}
.btn-download{
  color: #fff;
  border-color:  #fff;
  border-radius: 2px;

  font-size: 20px;
}

/* .avatar 200px */
.fast-icon{
  margin: 3px;
  margin-bottom: 20px;
  gap: 5px;

}

.resize-icon{
  font-size: 40px;
}
.fast-icon i{

  display: contents;
  border: none;
  color: rgb(250, 250, 250) !important;
  size: 100px;

}
.fast-icon bi{

  size: 50px !important;
  margin: 5px;
}
a{
  color:  rgb(250, 250, 250) !important;
  text-decoration: none;
}

.bi{
  color:rgb(250, 250, 250)
}

.col-md-4{
    /* background-color: #525266; */
    padding-bottom: 100%;
    border: 1px solid #E2C5A8; 
  }
  .btn-bg{
    background-color: #fff ;
} 
 .social_media-bg {
    width: 80%; /* Set the width to 80% of the parent element */
    border: 2px solid	#A1C9D7 !important ;
 }
 
  
  .btn-outline-success{
    color: #fff;
    border-color: #fff;
  }
  .text-center{
    color: #fff;
  }

  .social_media-wrapper {
    overflow: hidden;
  }
  
  .cover-photo {
    width: 100%;
    height: 200px;
    background-image: url("./img/pexels-lex-photography-450597.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgb(34, 33, 31);
    border: 1px solid #ebe3e3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
 .rounded-circle {

    width: 168px;
    height: 168px;


  } 
  .infor-box{
    width: 100%;
    height: 150px;
    display: flex;

  }

  @media (max-width: 767px) {

    .d-flex {

      text-align: center !important;

      display: block !important;
      }
    .col{
    /* display: block !important; */
    text-align: center !important;
    }
    .avatar .rounded-circle{
      text-align: center !important;
      /* position: absolute !important; */
      top: 112px;
      left: 25%
    }
    .container .infor-box {
      display: block !important;
      margin-top: 15px;
      margin-left: 0px;

    }
    .row-1{
      display: block;
    }
    .col{
      /* margin-top: 64px; */

    }
    .avatar{
      text-align: center;
    }

  }

  /* .avatar {
    position: absolute;
 
    top: 136px;
  } */