
body {
    background-image: url(./img/6209665.jpg) ;
    background-size: cover;
    /* background-color: #ffe5a9; */
    font-family: 'Roboto Condensed', sans-serif;
 

}
.avatar{
  width: 30px;
}

h3{
  font-size: 45px !important;

  color:#fff;
}
p{
  font: 25px sans-serif ;
  color: #fff;
}
.btn-download{
  color: #fff;
  border-color:  #fff;
  border-radius: 2px;

  font-size: 20px;
}

/* .avatar 200px */
.fast-icon{
  margin: 3px;
  margin-bottom: 20px;
  gap: 5px;

}

.resize-icon{
  font-size: 40px;
}
.fast-icon i{

  display: contents;
  border: none;
  color: rgb(145, 74, 163) !important;
}
.fast-icon bi{

  size: 20px;
  margin: 5px;
}
.a{
  color:  none !important;

}

.col-md-4{
    /* background-color: #525266; */
    padding-bottom: 100%;
    border: 1px solid #E2C5A8; 
  }
  .btn-bg{
    background-color: #fff ;
} 
 .social_media-bg {
    width: 80%; /* Set the width to 80% of the parent element */
    border: 2px solid	#A1C9D7 !important ;
 }
 
  
  .btn-outline-success{
    color: #fff;
    border-color: #fff;
  }
  .text-center{
    color: #fff;
  }

  .social_media-wrapper {
    overflow: hidden;
  }
  