.img-content{
    background-color: rgba(0,0,0, 0.4);
    position: relative;
    top: -550px;
    text-align: center;
    width: fit-content;
    padding: 20px;
    border: 3px;
    border-color: white;

}